{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>
   
<body>
    <br>
    <!-- <div class="container">
        <form action = "" method="POST"> 
            {% csrf_token %}
            {{ form }}
            <input type = "submit" name = "ticker" value = "Income Statement">
        </form> -->
    <!-- </div> -->
    <!-- <br> -->
    <a href= "{% url 'index' %}"><button type = "submit" name = "homepage" id ="display-btn" class ="btn btn-secondary">Home</button></a>
    <br>
    <br>
    <h3> Economic Indicators </h3>
    </br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class = "bg-grey">
                    <canvas id="cpichart" width="400" height="300"></canvas>
                    
                    <script>
                        var ctx = document.getElementById('cpichart').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type:'bar',
                            data: {
                                labels: [{% for i in cpi %} '{{i.Date}}', {% endfor %}],
                                datasets: [{
                                    label:'CPI Index',
                                    data: [{% for i in cpi %} '{{i.CPI_Index}}', {% endfor %}],
                                    backgroundColor:[],
                                    borderColor: [],
                                    borderWidth:1
                                }]
                            },
                            options:{
                                // plugins:{customeCanvasBackgroundColor:{color:'lightGreen',}}
                                scales: {
                                    yAxes:[{
                                        ticks:{
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                            // plugins:[plugin]
                        });
                    </script>
                </div>
            </div>
            <div class="col-md-6">
                <div class = "bg-grey">
                    <canvas id="gdpchart" width="400" height="300"></canvas>
                   
                    <script>
                        var ctx = document.getElementById('gdpchart').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type:'line',
                            data: {
                                labels: [{% for i in gdp %} '{{i.Date}}', {% endfor %}],
                                datasets: [{
                                    label:'GDP',
                                    data:[{% for i in gdp %} '{{i.GDPValue}}', {% endfor %}],
                                    backgroundColor:[],
                                    borderColor: [],
                                    borderWidth:1
                                }]
                            },
                            options:{
                                scales: {
                                    yAxes:[{
                                        ticks:{
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });

                    </script>
                </div>
            </div>
        </div>

    </div>
 

    

    </br>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class = "bg-grey">
                <canvas id="ppichart" width="400" height="300"></canvas>
                
                <script>
                    var ctx = document.getElementById('ppichart').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type:'line',
                        data: {
                            labels: [{% for i in ppi %} '{{i.Date}}', {% endfor %}],
                            datasets: [{
                                label:'ppichart',
                                data: [{% for i in ppi %} '{{i.PPI_Index}}', {% endfor %}],
                                backgroundColor:['rgb(0,0,0)'],
                                borderColor: ['rgb(0,0,0)'],
                                borderWidth:1
                            }]
                        },
                        options:{
                            scales: {
                                yAxes:[{
                                    ticks:{
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
        <div class="col-md-6">
            <div class = "bg-grey">
                <canvas id="interestratechart" width="400" height="300"></canvas>
                
                <script>
                    var ctx = document.getElementById('interestratechart').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type:'line',
                        data: {
                            labels: [{% for i in ppi %} '{{i.Date}}', {% endfor %}],
                            datasets: [{
                                label:'InterestRateChart',
                                data:[{% for i in ppi %} '{{i.PPI_Index}}', {% endfor %}],
                                backgroundColor:[],
                                borderColor: [],
                                borderWidth:1
                            }]
                        },
                        options:{
                            scales: {
                                yAxes:[{
                                    ticks:{
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });

                </script>
            </div>
        </div>
    </div>

    </div>

    <br>
    <br>
    <br>
    <div class ="container">
    <h2> Global Indicators </h>

    </div>
    <br>

</body>

</html>

{% endblock %}


