{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>

<body>
    
<h2>CPI (Consumer Price Index) </h2>
<br>
<a href="{% url 'index' %}"><button type = "submit" name = "homepage" id ="display-btn" class ="btn btn-secondary">Home</button></a>

<div class = "row mt-2">
  <div class = "col-md-4">
      <h3> CPI_Index: </h3>
  </div>

  <div class ="col-md-8">
    <div>
      <canvas id="cpichart"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
  
    x = [{% for i in cpi %} '{{i.Date}}', {% endfor %}]
    y = [{% for i in cpi %} '{{i.CPI_Index}}', {% endfor %}]
  
  
    const ctx = document.getElementById('cpichart');
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: x,
        datasets: [{
          label: 'CPI Index',
          data: y,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  
    </script>
  </div>
</body>
</html>
{% endblock %}