{% extends 'base.html' %}
{% load static %}

{% block content %}


<!DOCTYPE html>


<html lang="en">
<head>
    <!--<link rel="stylesheet" href="style.css">-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Enter Ticker Symbol </title>
    

    <meta charset="utf-8">

    <body>
        <h2>Interative Stock Visualizer</h2>
        <br>
        
        <label for="ticker-input">Enter Ticker Symbol:</label>
        <input type="text" id="ticker-input">
        <input type="button" value="submit" id="submit-btn" class ="btn btn-primary">
        <input type="button" value="Predictions" id="predict-btn" class ="btn btn-secondary">

        <br>

        <div id="graph-area" style="height:80%; width:80%;">
        <canvas id="myChart"></canvas>
        </div>

        <br>

        <script>

            $("#submit-btn").click(function(){
                var tickerText = $('#ticker-input').val();
                var today = '{{today}}';
                var week_ago = '{{week_ago}}';
                $.ajax({
                    type: "POST",
                    url: "{% url 'getstockdata' %}",
                    data: {'ticker':tickerText, "start": week_ago, "finish": today},

                    success: function(response) {
                        var tickerDisplay = response['{{ticker}}'];
                        var graphTitle = tickerDisplay + '(data for trailing 10 days)'

                        var response = response['{{ticker}}']
                        var index = response['index']  
                        var open = response['open'] 
                        var high = response['high']  
                        var low = response['low'] 
                        var close = response['close'] 
                        console.log(index)

                        var trace1 = {
                            x: index,
                            close: close,
                            decreasing:{line:{color:'#f70d1'}},
                            high: high,
                            increasing:{line:{color:'#12D900'}},
                            line:{color: 'rgba(31,119,180, 1)'},
                            low: low,
                            open: open,
                            type: 'line',
                            xaxis:'x',
                            yaxis: 'y'
                        };
                        trace1['x']=index;
                        trace1['open']=open;
                        trace1['high']=high;
                        trace1['low']=low;
                        trace1['close']=close;
                        console.log(trace1['x'])

                        var data = [trace1];

                        var layout = {
                            dragmode: 'zoom',
                            margin : {r:10, t:25, b:40, l:60 },
                            showlegend: false,
                            xaxis: {autorange: true,
                                    domain: [0,1],
                                    range: ['2022-09-05 12:00', '2022-10-30 12:00'], 
                                    rangeslider: {range: ['2022-09-01 12:00', '2022-10-30 12:00']}, 
                                    title: 'Date', 
                                    type: 'date',
                                },
                            yaxis:{
                                autorange: true,
                                domain:[0,1],
                                range: [114.609999778, 137.410004222],
                                type:'linear'
                            }
                        };
                        
                        document.getElementById("tloading").style.display = "none"
                        Plotly.newPlot('chart', data, layout);
              
                        },
                        error: function (response) {
                            console.log(response)
                            }
                        })
         
                    })



        </script>


    </body>
</html>

{% endblock %}