<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Stock Analysis</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Backtesting
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">SMA</a></li>
              <li><a class="dropdown-item" href="#">RSI</a></li>
             
            </ul>
          </li>

          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Economic Analysis
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'CPI' %}">CPI/Inflation</a></li>
              <li><a class="dropdown-item" href="{% url 'PPI' %}">PPI</a></li>
              <li><a class="dropdown-item" href="{% url 'GDP' %}">GDP</a></li>
              
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company Analysis
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Financial Statement</a></li>
              <li><a class="dropdown-item" href="#">P/E Ratio</a></li>
              <li><a class="dropdown-item" href="#">Events based analysis</a></li>
              
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ML/AI/Algo
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Scrapping News</a></li>
              <li><a class="dropdown-item" href="#">Sentiment Analysis</a></li>
              <li><a class="dropdown-item" href="#">Stock Recommendations</a></li>
              <li><a class="dropdown-item" href="#">Regression Analysis</a></li>
              <li><a class="dropdown-item" href="#">LSTM</a></li>
              <li><a class="dropdown-item" href="#">MonteCarlos Simulation</a></li>
              <li><a class="dropdown-item" href="#">Stochastic Analysis</a></li>
              <li><a class="dropdown-item" href="#">Sentiment Analysis</a></li>
              <li><a class="dropdown-item" href="#">Others</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" >Search</button>
        </form>
      </div>
    </div>
  </nav>