<html>
    <head>
        <title>MAP</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    </head>
    <body>
      <div class="ui container">
        <h1> Stock List </h1>
        <table class="ui striped table">
          <thead>
            <tr>
              <th>ID</th>
              <th>SYMBOL</th>
              <th>NAME</th>
              <th class="right aligned">VIEW</th>
            </tr>
          </thead>
            <tbody>
              {% for stock in stocks %}
              <tr>
                <td>{{ stock.id }}</td>
                <td><a href="/stock/{{ stock.symbol }}">{{  stock.symbol }}</a></td>
                <td><a href="/stock/{{ stock.symbol }}">{{ stock.name }}</a></td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>
    </body>
</html>